@import url("../../styles/colors.css");

.ad-input {
  margin-bottom: 10px;
  padding: 15px 10px;
  outline: none;
  margin-top: 15px;
  border-radius: 5px;
  border: solid 1px gray;
  font-size: 16px;
  min-width: 400px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  line-height: 25px;
}

.analysis-button {
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  padding: 10px 15px;
  margin-bottom: 40px;
  border-radius: 6px;
  cursor: pointer;
  border: white solid 1px;
  font-size: 15px;
  color: var(--label-color);
  font-weight: 600;
}

.analysis-button:hover {
  background-color: var(--label-color);
  color: var(--secondary-color);
}

.analysis-label {
  margin: 0px;
}

.analysis-result-container {
  width: 100%;
  margin: 30px 0px;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px 0px;
}

.analysis-card {
  width: 45%;
  flex-direction: column;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding-bottom: 40px;
  border-radius: 10px;
}

.color-bar {
  border-radius: 15px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.analysis-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.analysis-text {
  background-color: var(--secondary-color);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
}

#special-text {
  background-color: var(--primary-color);
  color: white;
  margin-right: 20px;
}