.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  min-height: 100vh;
  min-width: 100vw;
}

@media screen and (max-width: 1050px) {
  .ais-Hits-list {
    display: inline-block;
  }
  .ais-Hits-item {
    width: 100%;
  }
}
