@import url("../../styles/colors.css");

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header p {
  color: var(--label-color);
  padding: 10px 10px;
  margin-right: 20px;
  user-select: none;
  cursor: pointer;
  font-weight: 500;
}

.selected-header {
  background-color: var(--secondary-color);
  border-left: var(--primary-color) solid 2px;
}

.header p:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.logo-text {
  color: var(--primary-color);
  margin-left: 20px;
  user-select: none;
  cursor: pointer;
}