.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header p {
  color: #6e6e6e;
  padding: 10px 10px;
  margin-right: 20px;
  user-select: none;
  cursor: pointer;
  font-weight: 500;
}

.selected-header {
  background-color: rgb(218, 238, 255);
  border-left: #0077b5 solid 2px;
}

.header p:hover {
  color: #0077b5;
  text-decoration: underline;
}

.logo-text {
  color: #0077b5;
  margin-left: 20px;
  user-select: none;
  cursor: pointer;
}