.search-container {
  width: 100%;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.filter-header {
  position: absolute;
  top: 80px;
  cursor: pointer;
  user-select: none;
  color: white;
}

#button-left {
  left: 20px;
}

.button-right {
  right: 20px;
}

.search-body {
  display: flex;
  flex-direction: row;
}

.black-text {
  color: black;
}
