@import url("../../styles/colors.css");

.visualization-container {
  width: 100%;
}

.chart {
  margin-bottom: 50px;
}

.margin-right {
  margin-right: 50px;
}

.chart-container {
  background-color: var(--background-color);
  border-radius: 10px;
  margin-bottom: 20px;
}

.interpolation-label {
  color: var(--label-color);
}